<!DOCTYPE html>
<html>
    <head>
        <title>JamMaps</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <div class="row">
        <h1 style="text-align: center">Please Register</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                     <input type="text" name="username" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="password" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Register As Bus/Taxi</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Register As Driver</button>
                </div>
            </form>
        </div>
    </div>
</div>